.header[b-dkg5svi7ou] {
  text-align: center;
}

.contentContainer[b-dkg5svi7ou] {
  display: flex;
  flex-direction: column;
}

.contentItem[b-dkg5svi7ou] {
    margin-top: 10px;
  justify-content: center;
}
