.header{
  font: fira-code;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.grid-column {
/* placeholder */
}
