@page "/retro"
<div>
    <h1>Caleb's Crazy Cool Retro Board for Winners</h1>
    <h4>Good Items: @goodRetros.Count() | Bad Items: @badRetros.Count() </h4>
</div>

    <div class="grid-container">
        <div class="grid-column">
            @foreach (var r in goodRetros)
            {
                <p class="grid-item">
                <p>@r.Title</p>
                <button class="btn btn-danger" @onclick="() => RemoveRetro(r, goodRetros)">Delete</button>
                </p>

            }
        </div>


        <div class="grid-column">
            @foreach (var r in badRetros)
            {
                <p class="grid-item">
                <p>@r.Title</p>
                <button class="btn btn-danger" @onclick="() => RemoveRetro(r, badRetros)">Delete</button>
                </p>
            }
        </div>


</div>
<div>
    <input placeholder="What went well?" @bind="newGoodEntry" />
    <button class="btn btn-primary" @onclick="AddGoodRetro">Add</button>
</div>
<div></div>

<div>
    <div>
        <input placeholder="What didn't go well?" @bind="newBadEntry" />
        <button class="btn btn-primary" @onclick="AddBadRetro">Add</button>
    </div>
</div>

@code {
    private string newGoodEntry;
    private string newBadEntry;
    private List<RetroItem> goodRetros = new();
    private List<RetroItem> badRetros = new();

    private void AddGoodRetro()
    {
        if (!string.IsNullOrWhiteSpace(newGoodEntry))
        {
            goodRetros.Add(new RetroItem { Title = newGoodEntry, IsGood = true });
            newGoodEntry = string.Empty;
        }
    }

    private void AddBadRetro()
    {
        if (!string.IsNullOrWhiteSpace(newBadEntry))
        {
            badRetros.Add(new RetroItem { Title = newBadEntry, IsGood = false });
            newBadEntry = string.Empty;
        }
    }
    private void RemoveRetro(RetroItem retro, List<RetroItem> whichList)
    {
        whichList.Remove(retro);
    }
}
