.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(31, 137, 223, 0.65);
  padding: 10px;
}

.grid-column {
  display:grid;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid hsla(0, 1%, 58%, 0.787);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  box-shadow:  1px 2px 0 rgb(0 0 0 / 2%), 0 2px 3px 0 rgb(0 0 0 / 2%), 0 2px 7px 0 rgb(0 0 0 / 4%);
  max-height: 200px;

}