@page "/todo"


<div class="header">
    <h1>Caleb's Crazy Cool To-Do List for Winners</h1>
    <h4>Items To-Do: @todos.Count(todos => !todos.IsDone) | Items Done: @todos.Count(todos => todos.IsDone) </h4>
</div>

<div class="input">
    <input placeholder="What needs to be done?" @bind="newTodo" />
    <button class="btn btn-primary" @onclick="AddTodo">Add To-Do</button>
</div>

<ul class="contentContainer">
    @foreach (var t in todos)
    {
        <li class="contentItem">
            <input type="checkbox" @bind='t.IsDone' />
            <input @bind="t.Title" />
            <button class="btn btn-danger" @onclick="() => RemoveTodo(t)">Delete</button>
        </li>
    }
</ul>

@code {
    private string newTodo;
    private List<TodoItem> todos = new();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private void RemoveTodo(TodoItem todo)
    {
        todos.Remove(todo);
    }
}
